$cardColor: rgb(73, 149, 211); // make variable using $

// function, if no argument the color will be cardColor
@mixin icon($color: $cardColor) {
    .item {
        i {
            color: $color;
        }
    }
}

.card {
    width: 95%;
    margin: 1% auto;
    border: 1px solid $cardColor;
    .card-footer-custom {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @include icon();
    }
}

a {
    color: black;
    text-decoration: none;
    :hover {
        color: whitesmoke;
        background: $cardColor;
        .card-footer-custom {
            @include icon(whitesmoke);
        }
    }
}